.row {
    display: flex;
    flex-direction: row;
    justify-items: start;
}

.column {
    display: flex;
    flex-direction: column;
}

section {
    padding: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #666;
    width: 560px;
    background-color: #eee;
    margin: 0 auto;
}

section div {
    display: inline-block;
}

section #details {
    width: 300px;
}

section #name {
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    width: 300px;
}

section #country {
    font-size: 15px;
    line-height: 25px;
}

section img#icon {
    width: 100px;
    margin-right: 10px;
}

section #coords {
    line-height: 35px;
    font-style: italic;
}

section #coords #details {
    width: 200px;
    font-size: 20px;
    line-height: 30px;
}