.row {
    display: flex;
    flex-direction: row;
    justify-items: start;
}

.column {
    display: flex;
    flex-direction: column;
}

.imgBig {
    width: 75px;
    margin-right: 10px;
}

section {
    padding: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #666;
    width: 560px;
    background-color: #eee;
    margin: 0 auto;
}

section div {
    display: inline-block;
}

#details {
    width: 275px;
}

#name {
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    width: 275px;
}

#country {
    font-size: 15px;
    line-height: 25px;
}

#coords {
    line-height: 35px;
    font-style: italic;
}

#coords #details {
    width: 200px;
    font-size: 20px;
    line-height: 30px;
}
#temp span, #temp b {
    display: block;
}
#temp b {
    font-size: 24px;
}